<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Add users</title>
</head>
<body>
    <form action="/user/create" method="post">
        <h1>add users</h1>
        <label for="first_name">first name :</label>
        <input type="text" name="first_name"  placeholder="first name user">
        <label for="last_name">last name :</label>
        <input type="text" name="last_name"  placeholder="last name user">
        <label for="email">email :</label>
        <input type="text" name="email"  placeholder="email user">
        <input type="submit" value="Add User">
    </form>
</body>
</html>